body {
  margin: 0;

  max-width: 180px;
  max-height: 200px;
}

div.container {
  position: relative;
  width: 180px;

  background-image: url(./images/bg3.jpg);
  background-size: cover;
}

section {
  height: 120px;
}

nav {
  position: relative;
  height: 80px;
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 1));
}

p {
  color: white;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}

span {
  text-align: center;
}

span.playButton {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  border: 0.8px solid rgb(11, 11, 11);

  position: absolute;;
  top: 40px;
  left: 80px;

  background-color: rgb(77, 77, 77);
  box-shadow: 1px 1px 3px;
  box-shadow: 1px 1px 13px #222 inset;
  z-index: 2;
}

span.preButton{

  display: block;
  width: 30px;
  height: 18px;
  border-radius: 9px;
  border: 0.5px solid rgb(11, 11, 11);

  position: absolute;
  top: 42.5px;
  left: 62.5px;

  background-color: rgb(55, 55, 55);
  z-index: 0;
}

span.nextButton {

  display: block;
  width: 25px;
  height: 18px;
  border-radius: 9px;
  border: 0.5px solid rgb(11, 11, 11);

  position: absolute;
  top: 42.5px;
  left: 94.5px;

  background-color: rgb(55, 55, 55);
  z-index: 0;
}

i.fa {
  font-size: 12px;
  margin-top: 7.5px;
}
